*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
sample/release/sample-release.apk
sample/release/sample-release.aab
sample/release/sample-release.aab
